<!DOCTYPE html>
<html>

<head>
    <title>New Post</title>
</head>

<body>
    {% extends 'blog/base.html' %}
    {% block title %}Create Post{% endblock %}
    {% block content %}
    <h2 class="text-2xl font-bold mb-4">Create a New Post</h2>
    <form method="POST" class="bg-white shadow-md rounded-lg p-6">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title"
            class="w-full border p-2 rounded mb-4 focus:ring focus:ring-indigo-300">
        <textarea name="content" placeholder="Write your content here..."
            class="w-full border p-2 rounded mb-4 h-40 focus:ring focus:ring-indigo-300"></textarea>
        <button type="submit" class="bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700">
            Publish
        </button>
    </form>
    {% endblock %}


</body>

</html>